.container {
    background-color: #7CA0F4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.image-container {
    padding: 0;
    background-color: #7CA0F4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    max-width: 600px; 
    height: 100%;
 
}

.form-container-register {
    padding: 41px; 
    background-color: white;
    border-radius: 0 10px 10px 0;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

label {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.registerInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.5s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    border-color: #00a8fc;
}

.registerBtn {
    width: 50%;
    padding: 10px;
    background-color: #32CD32;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    display: block;
    transition: background-color 0.2s ease-in-out;
}

.registerBtn:hover {
    background-color: #228B22;
}
.error {
    color: red;
}