/* * {
  margin: 0;
  padding: 0;
  box-sizing: initial;
  font-family: Arial, Roboto, sans-serif;
}

.Header {
  background-color: #5082bf;
  color: white;
  text-align: center;
}

.FirstLayer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.FirstLayerRight {
  display: flex;
  align-items: center;
  gap: 30px;
}

.magGlassIcon {
  border: none;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  padding: 5.5px;
}

.LoginBtn {
  cursor: pointer;
}

.UserCircle,
.SearchCircle,
.CartCircle {
  padding: 10px;
  background-color: rgb(251, 251, 251);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: black;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserCircle:hover {
  background-color: rgb(87, 199, 95);
  box-shadow: -20px -22px 132px 1px rgb(87, 199, 95);
}

.SearchCircle:hover {
  background-color: rgb(41, 200, 221);
  box-shadow: -20px -22px 132px 1px rgb(41, 200, 221);
}

.CartCircle:hover {
  background-color: rgb(221, 215, 41);
  box-shadow: -20px -22px 132px 1px rgb(221, 215, 41);
}

.FirstLayer img {
  max-width: 100px;
}

.Angel {
  color: rgb(205, 209, 93);
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Title {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: default;
}

.mainNavs {
  background-color: #6898c5;
  display: flex;
  justify-content: center;
  
}

.mainNavs a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  transition: color 0.4s ease-in-out, box-shadow 0.5s ease-out;
  display: block;
  
}

.mainNavs a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #c6cc87;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  color: black;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .Header {
    flex-direction: column;
    align-items: flex-start;
  }

  .FirstLayer {
    flex-direction: column;
    align-items: center;
  }

  .FirstLayerRight {
    margin: 10px 0;
  }

  .mainNavs {
    flex-direction: column;
    align-items: center;
  }

  .mainNavs a {
    padding: 10px;
  }

  .dropdown-content {
    position: static;
  }
} */
